#sear{
float:left;
width:1000px;
height:1000px;
}
#recommend{
width:200px;
height:1000px;
border:#D0D0D0 solid;
}
.search{
border:#D0D0D0 solid 1px;
margin:1px;
float:left;
}
.searchBig{
border:none;
margin:4px;
float:left;
}
.recommend{
border:none;
margin:3px;

}
.blank10 {
    clear: both;
    display: block;
    font-size: 1px;
    overflow: hidden;
    height: 10px;
}
.pagNum{
text-align:center;
}
.adtext{

height:68px;
}
.adimage{
float:left;
height:68px;
}
