@charset "utf-8";
/* CSS Document */
body{
	background:#CCC;
	margin:0;
}
.out{
	margin:auto;
	width:1201px;
}
.out_top{
	width:1200px;
	height:50px;
	background:#3F3;
}
.Adm_top{
	width:1200px;
	height:270px;
	background:#069;
	}
.Adm_nav{
	background:#999;
	width:1200px;
	height:50px;
	padding:0;
	margin-top:0;
	
}
.Adm_left{
	background:#999;
	width:300px;
	height:940px;
	margin-top:50px;
	float:left;
	
	
	
}
.Adm_left ul{
	padding:0;
	margin:0;
	list-style:none;
}
	
.Adm_left ul li{
	background:#009;
	margin-bottom:1px;
	width:300px;
	height:50px;
}
	
.Adm_main{
	background:#0F3;
	width:870px;
	height:940px;
	float:right;
	margin-top:50px;
}
.Adm_uu{
	padding:0;
	margin:0;
	list-style:none;
	}
.Adm_uu li{
	background:#093;
	margin-right:1px;
	width:199px;
	height:50px;
	float:left;