body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:11px;
  width:40px;
  height:19px;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:16px;
  width:70px;
  height:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:165px;
  top:14px;
  width:10px;
  height:15px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:15px;
}
#u8 {
  position:absolute;
  left:180px;
  top:14px;
  width:60px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:240px;
  top:14px;
  width:80px;
  height:16px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:340px;
  top:14px;
  width:90px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:840px;
  top:14px;
  width:60px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:880px;
  top:14px;
  width:60px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:888px;
  top:14px;
  width:10px;
  height:13px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_ann {
  position:absolute;
  left:891px;
  top:10px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:840px;
  top:30px;
  width:80px;
  height:86px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:86px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u21 {
  position:absolute;
  left:930px;
  top:14px;
  width:60px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:930px;
  top:30px;
  width:80px;
  height:86px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:86px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u24 {
  position:absolute;
  left:979px;
  top:15px;
  width:10px;
  height:13px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_ann {
  position:absolute;
  left:982px;
  top:11px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:1049px;
  top:14px;
  width:89px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1119px;
  top:14px;
  width:10px;
  height:13px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_ann {
  position:absolute;
  left:1122px;
  top:10px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:1155px;
  top:13px;
  width:10px;
  height:13px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_ann {
  position:absolute;
  left:1158px;
  top:9px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:1176px;
  top:13px;
  width:10px;
  height:13px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_ann {
  position:absolute;
  left:1179px;
  top:9px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:720px;
  top:14px;
  width:90px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:797px;
  top:14px;
  width:10px;
  height:13px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_ann {
  position:absolute;
  left:800px;
  top:10px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:720px;
  top:30px;
  width:110px;
  height:126px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:126px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u39 {
  position:absolute;
  left:113px;
  top:14px;
  width:45px;
  height:16px;
  text-align:right;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1051px;
  top:30px;
  width:77px;
  height:86px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:86px;
}
#u42 {
  position:absolute;
  left:2px;
  top:35px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
