body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:10px;
  width:300px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:70px;
  width:960px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:100px;
  width:960px;
  height:430px;
  opacity:0.5;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:430px;
}
#u5 {
  position:absolute;
  left:2px;
  top:207px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:110px;
  width:60px;
  height:20px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:130px;
  width:610px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:593px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:3px;
  width:610px;
  height:4px;
}
#u9 {
  position:absolute;
  left:20px;
  top:150px;
  width:110px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:140px;
  top:150px;
  width:250px;
  height:30px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:20px;
  top:200px;
  width:110px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:200px;
  width:250px;
  height:30px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:20px;
  top:250px;
  width:110px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:140px;
  top:250px;
  width:250px;
  height:30px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:400px;
  top:150px;
  width:230px;
  height:30px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u19 {
  position:absolute;
  left:0px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:360px;
  top:150px;
  width:30px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:360px;
  top:200px;
  width:30px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:360px;
  top:250px;
  width:30px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:400px;
  top:200px;
  width:230px;
  height:30px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:400px;
  top:250px;
  width:230px;
  height:30px;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:310px;
  width:110px;
  height:30px;
  font-size:14px;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u31 {
  position:absolute;
  left:0px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:140px;
  top:350px;
  width:250px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:140px;
  top:310px;
  width:120px;
  height:30px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:270px;
  top:324px;
  width:120px;
  height:16px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:140px;
  top:418px;
  width:190px;
  height:16px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:140px;
  top:460px;
  width:250px;
  height:30px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:680px;
  top:310px;
  width:60px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:660px;
  top:372px;
  width:250px;
  height:26px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:26px;
}
#u44 {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:770px;
  top:408px;
  width:130px;
  height:26px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:26px;
}
#u46 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:660px;
  top:130px;
  width:250px;
  height:232px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
}
#u48 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:550px;
  width:960px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u50 {
  position:absolute;
  left:0px;
  top:560px;
  width:760px;
  height:20px;
  font-size:11px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:3px;
  width:760px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:100px;
  top:590px;
  width:150px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:690px;
  top:590px;
  width:150px;
  height:40px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
